<!-- BEGIN MAIN CONTENT -->

<div class="page-content page-content-full"  ng-controller="AboutController">
       
       
        <div class="page-login-field top-15">
            <h2 align = center >AEBank</h2>
             <h4>It is a third party applecation classified as an open banking system under which banks open up their application programming interfaces (APIs), So we display the bank accounts to users they added, and their expenses from banks, and aslo they could make a budget  to follow up their expenses and then compare it with the budget they already made.</h4>
             <br>
             <br>
             <h4>This applecation is powerd by:</h4><br>
             <h5>Eyad Khaled Qbori - 438015859 </h5>
             <h5>Ayman Alzahrani - 437032212 </h5>
             <h5>Abdulkarim AlZahrani - 437003832 </h5>
             <h5>Aseel sami yamani - 437011517 </h5><br>
             <h4>Project supervisor: DR. Amir Auad AL-Zaidy</h4>
     
        
         
         
           </div>
</div>
<!-- END MAIN CONTENT -->

<script type="text/javascript">

//start program
$(document).ready(function () {

    // alert(url);
closeMenu ();
});
</script>