
 
<div  class="content" ng-controller="ExpensesController">
 
    <div class="row">			
        <div class="col-md-12">
 
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-green-sharp"></i>
                        <span class="caption-subject bold uppercase"> Expenses Add  </span>
                        <span class="caption-helper hide"></span>
                    </div>
                  
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12  ">
                            <table class="table-bordered">
                               
								
							   <tr>
							   <td>Bank</td>
								<td>
								<select data-ng-model="currentBank" data-ng-options="item.name for item in banks" ng-change="changeHandler()"></select>
								</td>
								
								</tr>
								<tr>
								 <td>Expense</td>
								<td>
								<select data-ng-model="currentExpense" data-ng-options="item.budgetname for item in bankexpenses"  ></select>
								</td>
								
								</tr>
								 
								
								  
								 <tr>
								 <td>Amount</td>
								<td>
								<input data-ng-model="expense.amount"   />
								</td>
								
								</tr>
								
								 <tr>
                                     
                                    
									   <td>
                                        <button class="btn btn-default"    ng-click="doBack()" > Back </button>
                                    </td>
									<td>
                                        <button class="btn btn-primary"   ng-click="addExpense()" > Add </button>
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

